*
{
    margin:0;
    padding:0;
}
body{
    background: linear-gradient( to right, #11998E, #38EF7D);
}
#hut
{
    position: absolute;
    top:1px;
    left:1px;
}
#Q
{  width:77vw;
   height:14.5vh;
   margin-left:30vw;
   margin-top: 3vw;
   padding-left:2vw;
   font-size: 5vw;
   font-weight: bolder;
   color:#fff;
   text-shadow: 2px 10px 10px #000;

}
.main
{
    width:100%;
    overflow: hidden;
}
.member
{
    display:flex;
    justify-content: space-between;
    width: 67vw;
    margin:25px 100px 0;
    padding:0 40px;
    text-align: center;

}
.image
{
 width:20vw;
 height:20vw;
 /* border:6px solid #fff; */
 border-radius: 50%;
 box-shadow: 0 0 20px ;

}
.name
{
    font-size:4vw;
    font-family: Cinzel Decorative;
    font-weight: bold;
    color: #fff;

}
.detail
{
display: flex;
flex-direction: column;
justify-content:center;

}

.detail hr
{
    width:65%;
    margin:10px auto; 
}
p
{
    
    font-size: 1.6vw;
    color: #fff;
    font-weight: lighter;
}
.member:nth-child(2n+1)
{
    flex-direction: row-reverse;
    float: right; 
}